<div id="footer">
  <p>
    © 2020 {{site.owner}}  ·
    <a href="{{site.url}}{{site.baseurl}}/contact/">Contacts</a>
  </p>
  <p>
    <a href="https://github.com/{{site.github_username}}" target="_blank">
      <i class="fa fa-github fa-2x social" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/{{site.twitter_username}}" target="_blank">
      <i class="fa fa-twitter fa-2x social" aria-hidden="true"></i>
    </a>
  </p>
</div>

<script src="{{site.url}}{{site.baseurl}}/assets/js/app.js"></script>
