<head>
    <title>{{page.title}} | Raffaele Carelle</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet"> 
    <meta content="{% if page.meta-title and page.meta-title != '' %}{{page.meta-title}}{% else %}{{page.title}}{% endif %} | Raffaele Carelle" name="title">
    <meta content="{% if page.meta-description and page.meta-description != '' %}{{page.meta-description}}{% else %}{{page.content|strip_html}}{% endif %}" name="description">
    <meta content="{{site.owner}}" name="author">
    <meta content="Copyright 2020 {{site.owner}}. All rights reserved." name="copyright">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
